<form [formGroup]="loginForm" class="container-fluid h-75" (ngSubmit)="onSubmit()">
  <div class="container-md border mt-5 p-3">
    <h6>Login:</h6>
    <div class="row m-auto">
      <input formControlName="login" id="login" type="text" class="p-2">
    </div>
    <h6 class="mt-3">Hasło:</h6>
    <div class="row m-auto">
      <input formControlName="password" id="password" type="text" class="p-2">
    </div>
    <div class="row mt-5">
      <button type="submit" [disabled]="!loginForm.valid" class="btn btn-primary fw-bold text-secondary p-3 mt-3">Zaloguj</button>
    </div>
  </div>
</form>