<div class="row input-group-text">
  <button type="button" class="btn btn-primary col-md-3" (click)="deliveryService.getDeliveries(name.value)">Get deliveries</button>
  <input type="text" class="col-md-3 m-3" #name>
  <table class="table" *ngIf="deliveries">
    <thead>
      <tr>
        <th>Nazwa dostawy</th>
        <th>Czas przybycia dostawy</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let delivery of deliveries" >
        <td>{{ delivery.name }}</td>
        <td>{{ delivery.arrival }}</td>
      </tr>
    </tbody>
  </table>
</div>

