.btn-primary {
  font-weight: bold !important;

  &:hover, &:active {
    color:white !important;
    background: #1c93f4;
  }

  &:disabled {
    background: grey;
    opacity:0.7;
    color: white;
  }
}

.download--button {
  padding: 10px 15px 10px 15px;
  margin: 0 auto;
  border-radius: 8px;
  font-weight: bold;
  color: #F49F1C;
  width: fit-content;
  border: 0;
}

.logout--button {
  background: $secondary !important;

  &:hover {
    background: lighten($secondary, 10%) !important;
  }
}
