<div ngbDropdown class="dropdown">
      <button ngbDropdownToggle class="btn dropdown-toggle text-secondary" type="button" id="navButton" data-bs-toggle="dropdown">
          <i data-feather="menu" class="menu"></i>
      </button>
      <ul ngbDropdownMenu class="dropdown-menu-dark" aria-labelledby="navButton">
        <li *ngFor="let page of pages">
          <a ngbDropdownItem class="dropdown-item text-uppercase text-secondary fw-bold" routerLink="{{ page.route }}">{{ page.name }}</a>
        </li>
      </ul>
</div>
