<ngb-toast
  class="toast-container"
  [delay]="7000"
  *ngIf="orders.error">
  <ul *ngFor="let error of orders.error">
    <li>{{ error }}</li>
  </ul>
</ngb-toast>

<table class="table table-striped" *ngIf="orders">
  <thead>
  <tr>
    <th scope="col" *ngFor="let header of headers">
      {{ header }}
    </th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr #orderRow *ngFor="let order of orders.data;let i = index;" [style.background-color]="orderService.getOrderRowStatusColor(order.orderState ?? '')">
    <td>{{ i+1 }}</td>
    <td>{{ order.barcode }}</td>
    <td>{{ order.readableOrderState }}</td>
    <td>{{ order.linesCount }}</td>
    <td>
      <div class="row m-1">
        <button class="btn-primary download--button text-white" type="button" [disabled]="OrderState.RECEIVED !== order.readableOrderState" (click)="addOrderToQueue(order, orderRow)">POBIERZ</button>
      </div>
    </td>
    <td [hidden]="!isAdmin">
      <div class="row m-1">
        <button class="btn-primary download--button text-white text-uppercase" type="button" (click)="addOrderToQueue(order, orderRow)">usuń</button>
      </div>
    </td>
  </tr>
  </tbody>
</table>
