/* You can add global styles to this file, and also import other style files */

$success: #e9f6df;
$primary: #337DEF;
$secondary: #F49F1C;
$danger: rgba(239, 19, 19, 0.55);
$warning: #fffb00a2;
$main: #6D9ADD73;
$info: grey;

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "danger": $danger,
    "warning": $warning,
    "info": $info,
    "main": $main,
    "success": $success
);

@import "~bootstrap/scss/bootstrap";
@import "./assets/styles/_table.scss";
@import "./assets/styles/_global.scss";
@import "./assets/styles/_buttons.scss";
@import "./assets/styles/_list.scss";
@import "./assets/styles/_xng-components.scss";

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
