<div class="container-sm h-75 border">
  <div class="row">
    <div class="col-4">
      Zdjęcie
    </div>
    <div class="col-8">
      <div class="row w-100">
        Imię
      </div>
      <div class="row w-100">
        Nazwisko
      </div>
      <div class="row w-100">
        Email
      </div>
      <div class="row w-100">
        Pesel
      </div>
    </div>
  </div>
  <hr />

  <h6>Rola: </h6>
  <p class="w-100"></p>

  <h6>Opis roli: </h6>
  <p class="w-100"></p>

  <h6>Data zatrudnienia:</h6>
  <p class="w-100"></p>

  <h6>Przepracowane godziny w tym miesiącu</h6>
  <p class="w-100"></p>
</div>