$secondary: #F49F1C;

*{
    font-size:min(2.4vw, 19px);
}
footer{
    height:5vh;
    padding: 5px;
}

.filled {
    fill: black;

    &.red {
        fill: red;
    }
}
    

.responsive {
    width:clamp(12px, 4vw ,22px);
    height:clamp(12px, 4vh ,22px);
}