<footer class="row-cols-md-3 bg-primary text-white fw-bold d-flex">
  <span class="col-md-4 text-start text-secondary m-auto">&copy; 2022 Copyright Darek Gawęda</span>
  <span class="col-md-4 d-flex justify-content-center">
    <i data-feather="linkedin" class="filled responsive m-auto"></i>
    <i data-feather="facebook" class="filled responsive m-auto"></i>
    <i data-feather="github" class="filled responsive m-auto"></i>
  </span>
  <span class="col-md-4 text-end text-secondary m-auto">
    Created with
    <i data-feather="heart" class="filled red responsive"></i>
  </span>
</footer>